$font-stack: 'Helvetica', sans-serif;

%flexbox-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column
}

%flexbox-row {
  @extend %flexbox-column;
  flex-direction: row
}

* {
  box-sizing: border-box;
  font-family: $font-stack;
  font-weight: lighter;
}

body{
  padding: 1em
}

a{
  color: black
}

h1,
h3,
h4,
h5,
h6{
  font-weight: bold
}

#main{
  @extend %flexbox-column
}

#lists{
  @extend %flexbox-column
}

#dropdowns{
  @extend %flexbox-row;
}

.list-item-content{
  @extend %flexbox-row;
}

.book-item{
  @extend %flexbox-column;
  padding: 0.5em;
  margin: 1em 1em;
  width: inherit;
  width: auto;
  max-width: 20vw;
}

.book-item img{
  height: auto;
  width: 100%;
  max-width: 20vh;
}

#buy-links{
  z-index: 2
}

#buy-links div{
  margin: 0.2em;
  a {
    font-size: 0.8em
  }
}
