$font-header: 'Coustard', serif;
$font-sub: 'Open Sans', sans-serif;

%flexbox-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column
}

%flexbox-row {
  @extend %flexbox-column;
  flex-direction: row;
  flex-wrap: wrap
}

* {
  box-sizing: border-box;
  font-family: $font-sub;
  font-weight: lighter;
}

//reset styles
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
blockquote {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: none;
  appearance: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
a{
  color: black;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    text-decoration-color: orange
  }
}
//end reset styles

// hr {
//   width: -webkit-fill-available;
//   display: block;
//   height: 1px;
//   border: 0;
//   border-top: 0.5rem solid orange;
//   margin: 1em 0;
//   padding: 0;
//   border-radius: 2rem;
// }

body{
  padding: 1em
}

h1,
h3,
h4,
h5,
h6{
  font-weight: bold;
  font-family: $font-header;
  margin: 0 auto;
}

h3 a{
  font-weight: bold;
  font-family: $font-header;
}

#main,
#lists{
  @extend %flexbox-column
}

.list-item-content,
#filter-buttons,
#dropdowns,
article{
  @extend %flexbox-row;
}

.list-item-content{
  justify-content: space-around
}

//Dropdown styles
/* The container to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/*dropdown buttons and hover styles*/
#filter-buttons{
  justify-content: space-around;
  margin: 1em 0;
  button{
    background-color: none;
    color: black;
    padding: 16px;
    font-size: 1rem;
    border: none;
    &:active,
    &:focus,
    &:hover{
      &:after{
        content: '';
        border-bottom: 5px solid orange;
        position: absolute;
        left: 0;
        top: 90%;
        width: 100%;
        border-radius: 20px
      }
    }
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 160px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  a { // links inside dropdown
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.8rem;
    &:hover{ //upon hover over links
      background-color: orange;
      opacity: 20%;
    }
  }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

//Individual Book Items
.book-item{
  @extend %flexbox-column;
  padding: 0.5em;
  margin: 1em 1em;
  width: inherit;
  width: auto;
  max-width: 20vw;
  img{
    height: auto;
    width: 100%;
    max-width: 20vh;
  }
}
/*Book Item Buttons*/
.button button{
  font-size: 0.8rem;
  margin: .4rem 0;
  padding: 0.8em 1em;
  background-color: orange;
  border-radius: 20rem;
  border: 2px solid orange;
  &:hover{
    background-color: white;
  }
}

/* Buy Links */
#buy-links div{
  margin: 0.2em;
  a {
    font-size: 0.8em
  }
}

/*Single List*/
.single-list{
  margin: 1rem 0
}
