p, h1,
h3,
h4,
h5,
h6 {
  margin: 0 auto; }

.list-item-content,
#filter-buttons-container, #main,
#view-lists, .book-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

.list-item-content,
#filter-buttons-container {
  flex-direction: row;
  flex-wrap: wrap; }

.buttonbuy button, .buttonbasic button {
  font-size: 0.8rem;
  margin: 0.2rem 0;
  padding: 0.5em 1em;
  border-radius: 20rem; }
  .buttonbuy button:hover, .buttonbasic button:hover {
    background-color: inherit;
    outline: none; }
  .buttonbuy button:visited, .buttonbasic button:visited, .buttonbuy button:focus, .buttonbasic button:focus {
    outline: none; }

.filter-dropdown-content, .buy-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 2; }
  .filter-dropdown-content a, .buy-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.8rem; }
    .filter-dropdown-content a:hover, .buy-dropdown-content a:hover {
      background-color: #CAEBF2;
      color: black; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter; }

b {
  font-weight: bold; }

body {
  padding: 1em;
  background: white; }

h1,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Coustard", serif; }

h3 a {
  font-weight: bold;
  font-family: "Coustard", serif; }
  h3 a:visited {
    color: black; }
  h3 a:hover, h3 a:focus {
    color: #FF6A5C; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: #FF6A5C; }

/* Responsive Link Styles */
@media screen and (max-width: 1024px) {
  a,
  h3 a,
  h3 a:visited {
    color: #FF6A5C;
    text-decoration: underline; }
    a:hover,
    h3 a:hover,
    h3 a:visited:hover {
      color: #FF6A5C; } }
.list-item {
  max-width: 100vw;
  width: 100%;
  height: auto; }

.list-item-content {
  justify-content: space-around; }

/* List Item Responsive */
@media screen and (max-width: 500px) {
  .list-item-content {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.8em 0; }

  .book-item-content p i {
    display: none; }

  .book-item-content p br {
    display: none; } }
/* The container to position the dropdown content */
.filter-dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown buttons and hover styles*/
#filter-buttons-container {
  justify-content: space-around;
  margin: 1em 0; }
  #filter-buttons-container button {
    background-color: inherit;
    color: black;
    font-weight: bold;
    padding: 16px;
    font-size: 1rem;
    border: none; }
    #filter-buttons-container button:active, #filter-buttons-container button:visited, #filter-buttons-container button:focus, #filter-buttons-container button:hover {
      outline: none; }
      #filter-buttons-container button:active:after, #filter-buttons-container button:visited:after, #filter-buttons-container button:focus:after, #filter-buttons-container button:hover:after {
        content: '';
        border-bottom: 5px solid #FF6A5C;
        position: absolute;
        left: 0;
        top: 90%;
        width: 100%;
        border-radius: 20px;
        outline: none; }

/* Filter buttons responsive */
@media screen and (max-width: 768px) {
  #filter-buttons-container button {
    padding: 0.5em; } }
@media screen and (max-width: 500px) {
  #filter-buttons-container {
    margin: 0; }
    #filter-buttons-container button {
      margin: 0; } }
/* Filter Dropdown filter-buttons (Hidden by Default) */
.filter-dropdown-content {
  max-height: 20rem;
  overflow-x: hidden;
  overflow-y: auto;
  display: none; }

/* Dropdown menu shows on hover */
.filter-dropdown:hover .filter-dropdown-content {
  display: block; }

.book-item {
  padding: 0.5em;
  margin: 1em 0;
  width: 100%;
  height: auto;
  max-width: 15vw; }
  .book-item img {
    height: auto;
    width: 100%;
    max-width: 20vh; }

/* Book Item Buttons */
.book-item-buttons-container {
  margin: 0.5em 0; }

/* Dropdown Container */
.buttonbuy {
  position: relative;
  display: inline-block; }
  .buttonbuy button {
    background-color: #FF6A5C;
    border: 2px solid #FF6A5C;
    cursor: pointer; }

.buttonbasic button {
  background-color: #CAEBF2;
  border: 2px solid #CAEBF2; }

/* Content of Buy Dropdown (Hidden by Default) */
/* Toggled on and off on click of button*/
.showBuyLinks {
  display: block; }

/* Book Item Responsive */
@media screen and (max-width: 768px) {
  .book-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.1em;
    margin: 0.5em 0.8em;
    width: 100%;
    height: auto;
    max-width: 15vw; }
    .book-item img {
      height: auto;
      width: 100%;
      max-width: 8vh; }

  .book-item-buttons-container {
    margin: 0.1em 0; }

  .buttonbasic button,
  .buttonbuy button {
    padding: 0.1em 0.4em; } }
@media screen and (max-width: 500px) {
  .book-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.1em;
    margin: 0;
    width: 100%;
    height: auto;
    max-width: 100vw; }
    .book-item img {
      display: none; } }
.single-list {
  margin: 1rem 0;
  width: 100%;
  height: auto;
  max-width: 100vw; }

/*# sourceMappingURL=style.css.map */
